<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="col-md-6">
    <h2> Inventory Details</h2>
    <button class="btn btn-danger" (click)="addInventory()"> Add Inventory</button>
    <div >
      <input  type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" Start searching Any">
    </div>
    <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Created Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inventory of inventorys | filter:searchText">
      <td class="hidden">{{inventory.inventoryId}}</td>
      <td>{{inventory.name}}</td>
      <td>{{inventory.price | currency:"INR"}}</td>
      <td>{{inventory.quantity}}</td>
      <td>{{inventory.createdDate | date:"yyyy-MM-dd"}}</td>
      <td><button class="btn btn-danger" (click)="deleteInventory(inventory)"> Delete</button>
        <button class="btn btn-danger" (click)="editInventory(inventory)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
    </table>
    </div>